<launch>

  <include file="$(find video_stream_opencv)/launch/camera.launch" >
    <arg name="camera_name" value="webcam" />
    <arg name="video_stream_provider" value="0" />
    <arg name="fps" value="24" />
    <arg name="frame_id" value="webcam" />
    <arg name="flip_horizontal" value="false" />
    <arg name="flip_vertical" value="false" />
    <arg name="visualize" value="true" />
  </include>

  <include file ="$(find basic_temp)/launch/basic_temp.launch">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </include>

</launch>
